# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://kajhbhyzqtoodzmptzzm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImthamhiaHl6cXRvb2R6bXB0enptIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU5MjAwNTEsImV4cCI6MjAxMTQ5NjA1MX0.qY5J6kFfe4apnYs4HsJJWh0OU7u8zFEAjTxDKll-cKI

